.buton {
  background: #0078da;
  font-size: 15px;
  border: 2px solid #0078da;
  border-radius: 20px;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 80ms ease-in-out;
  user-select: none;
  touch-action: manipulation;
  width: fit-content;
  font-size: 85%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.buton:focus {
  background: #ff0000;
  border: 2px solid #ff0000;
}

.buton:hover {
  background: #ffcc00;
  border: 2px solid #ffcc00;
}

.buton-outline {
  background: #ffffff;
  font-size: 15px;
  border: 2px solid #0078da;
  border-radius: 20px;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 80ms ease-in-out;
  user-select: none;
  touch-action: manipulation;
  width: fit-content;
  font-size: 85%;
  text-decoration: none;
  margin-right: 10px;
}
.buton-outline .link {
  color: #0078da;
}

.buton-outline:focus {
  outline: 0;
  background: #ff0000;
}
.buton-outline:focus .link {
  color: #ffffff;
}

.buton-outline:hover {
  background: #ffcc00;
  border: 2px solid #ffcc00;
}
.buton-outline:hover .link {
  color: #ffffff;
}

.conten_register .buton_re {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 15px;
}

.buton-outline:checked ~ .buton-check:after {
  background: #17c700;
}

.footer-dark {
  padding: 50px 0;
  color: #ffffff;
  background-color: #075fb8;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: #fff;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.div_logo_footer_interno .image-revie-footer {
  width: calc(100% * 0.25);
  height: calc(100% * 0.25);
  margin-right: 10px;
}

.description-p {
  font-size: calc(100% * 0.8);
}

.footer-dark .div_logo_footer_interno .container-footer {
  padding-left: 7%;
  padding-right: 7%;
}

.heading_footer {
  color: #ffffff;
  font-weight: bold;
}

.footer-dark .container-footer .div_logo_footer_interno {
  display: flex;
  flex-direction: row;
  margin: auto;
}

@media (max-width: 420px) {
  .div_logo_footer_interno .image-revie-footer {
    width: calc(100% * 0.05);
    height: calc(100% * 0.05);
    margin-right: 5px;
  }

  .heading_footer {
    margin-top: 3px;
  }
}
@media (max-width: 650px) {
  .div_logo_footer_interno .image-revie-footer {
    width: calc(100% * 0.2);
    height: calc(100% * 0.2);
    margin-right: 5px;
  }

  .heading_footer {
    margin-top: 2px;
  }
}
@media (max-width: 780px) {
  .div_logo_footer_interno .image-revie-footer {
    width: calc(100% * 0.23);
    height: calc(100% * 0.23);
    margin-right: 5px;
  }

  .heading_footer {
    margin-top: 2px;
  }

  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  .div_logo_footer_interno .image-revie-footer {
    width: calc(100% * 0.24);
    height: calc(100% * 0.24);
    margin-right: 5px;
    padding-top: 2px;
  }

  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  .div_logo_footer_interno .image-revie-footer {
    width: calc(100% * 0.24);
    height: calc(100% * 0.24);
    margin-right: 5px;
    padding-top: 2px;
  }
}
/* navbar */
nav {
  border-style: none;
  outline-style: none;
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #222;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button .navbar-toggler {
  color: black;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #1500ff;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 5px;
  padding-right: 5px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #5f5f5f;
  font-size: calc(100% * 0.85);
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #0078da !important;
  font-weight: 780;
  background-color: transparent;
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  padding: 10px;
  color: #000000;
  justify-content: start;
}

.navigation-clean-button .actions {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  font-size: calc(100% * 1);
}

header nav .conten_nav {
  width: auto;
}
header nav .conten_nav .logo_nav {
  width: 140px;
}

@media (max-width: 992px) {
  .navigation-clean-button .actions {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .navigation-clean-button .actions .login {
    margin-left: 0px;
    margin-bottom: 7px;
  }
}
.material-icons.icon_register {
  transform: scale(4);
}

#Card-figo {
  max-width: 1400px;
  margin: auto;
}

.conten_register {
  margin: auto;
  text-align: center;
}

article.conten_info_register {
  display: flex;
  flex-direction: row;
  display: inline;
}

.info_comple {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.info_basic {
  width: 40%;
  height: 100%;
  /*background: #f4476b;*/
  display: flex;
  flex-direction: column;
  padding: 15px;
  /*margin: auto;*/
}

.input_register {
  width: 20px;
  /*height: 10px;*/
}

#form_regis {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.input-group {
  margin-top: 2px;
}

.input-group-text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: #ffcc00;
  color: #222222;
  /*height: 37px;*/
}

.compar {
  display: flex;
  flex-direction: row;
}

.input-group {
  padding-right: 2%;
  padding-left: 2%;
}

.heading_regis {
  padding: 40px;
}

.all_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input_des {
  font-size: 15px;
}

#complementaria {
  width: 100%;
}

#basica {
  width: 100%;
}

.conten_buton {
  padding-top: 10%;
}

#descrip {
  height: 100px;
}

textarea {
  resize: none;
}

@media (max-width: 780px) {
  .compar {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .all_info {
    display: flex;
    flex-direction: column;
  }
}